<link rel="stylesheet" href="/css/global.css" />
<link rel="stylesheet" href="/css/header.css" />
<header>
  <nav class="navbar">
    <div class="nav-brand">Brand</div>
    <div class="nav-links">
      <a href="/examples" class="margin-fix">Examples</a>
      <a href="/pricing">Pricing</a>
      <a href="/about">About</a>
    </div>
    <div class="nav-user">
      <a href="/signin">Sign in</a>
      <a href="/signup" class="signup-btn">Sign up</a>
    </div>
  </nav>
</header>