{{!< layout }}
<link rel="stylesheet" href="/css/landing.css" />
<div class="hero-section">
  <div class="star-field"></div>
  <div class="hero-content">
    <h1>Amet nulla amet veniam do incididunt ea elit occaecat laborum.</h1>
    <p>Excepteur officia magna quis commodo ea cupidatat in esse ipsum laborum.</p>
    <div class="hero-buttons">
      <a href="/get-started" class="btn btn-primary">Get Started</a>
      <a href="/stars" class="btn btn-secondary">82,310+ Downloads</a>
    </div>
  </div>
</div>

<div class="second-section">

  <h2 class="title-app-section-text">Why pick us?</h4>

  <div class="apps-flexbox">
    <div class="app-card"><h4>App 1</h4><p>Irure exercitation ullamco deserunt
        nisi ea exercitation sunt occaecat commodo labore excepteur adipisicing
        ut. Officia ad ut cupidatat nisi mollit laboris. Est qui sit anim veniam
        ad ut occaecat. Sunt quis voluptate culpa qui sunt ad occaecat ex est.
        Dolore duis mollit dolore duis aute nisi exercitation pariatur pariatur
        est.</p></div>
    <div class="app-card"><h4>App 2</h4><p>Exercitation nostrud fugiat non
        reprehenderit deserunt ad est. Aliquip eiusmod sunt laboris nulla. Minim
        reprehenderit tempor dolore sit in duis. Deserunt minim irure elit aute
        enim tempor laboris dolor non cillum duis consequat. Elit anim in non
        sunt quis. Sit cupidatat occaecat mollit non veniam veniam anim.
        Reprehenderit laborum in amet aliquip adipisicing deserunt minim
        reprehenderit eu labore.</p></div>
    <div class="app-card"><h4>App 3</h4><p>In duis pariatur duis ullamco
        exercitation labore Lorem Lorem ut nostrud. Duis ullamco sint sit cillum
        irure pariatur excepteur minim quis nulla aliqua. Non officia laboris
        veniam exercitation laborum eu sint. Sunt minim Lorem officia labore.
        Magna culpa occaecat Lorem adipisicing consequat labore Lorem commodo
        esse nostrud aliqua aliqua. Nostrud qui pariatur consectetur sit aliqua
        est ad ex dolor ex nulla deserunt anim.</p></div>
    <div class="app-card"><h4>App 4</h4><p>Sunt irure culpa aliqua exercitation.
        Lorem proident irure qui proident in quis fugiat nostrud occaecat dolor
        nulla sint. Ex id velit laborum est adipisicing in ipsum mollit dolor.
        Duis sint cupidatat duis amet qui commodo mollit est minim sint. Est in
        ea laborum incididunt irure incididunt tempor exercitation sit do ut
        duis.</p></div>
    <div class="app-card"><h4>App 5</h4><p>Mollit voluptate adipisicing minim
        eiusmod occaecat voluptate adipisicing cupidatat consectetur nulla
        mollit eu mollit et. Ut in ad exercitation officia eu laborum anim duis
        nostrud exercitation sint. Nulla pariatur elit cupidatat sit aliqua
        nostrud. Officia culpa dolor magna aliquip mollit anim ullamco. Ea non
        anim voluptate elit dolore voluptate consectetur sint ipsum. Duis
        deserunt minim veniam nostrud eiusmod consectetur dolor fugiat id in ad
        quis Lorem.</p></div>
    <div class="app-card"><h4>App 6</h4><p>Duis labore quis do velit deserunt
        occaecat amet tempor proident duis. Deserunt aute et amet culpa id. Sunt
        enim cupidatat voluptate ullamco exercitation officia mollit anim aliqua
        est incididunt magna irure ad. Aliqua amet eiusmod quis culpa
        reprehenderit sunt. Ex voluptate eiusmod enim nulla nulla consequat sit
        minim ea laboris aliqua ea consectetur fugiat.</p></div>
  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"
></script>
<script src="js/landing.js"></script>