body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0); /* transparent */
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}


.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; 
}

.nav-links a {
  text-decoration: none;
  color: rgba(255, 255, 255);
  margin: 0 15px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ccc;
}

.nav-user {
  display: flex;
  align-items: center;
}

.nav-user a {
  text-decoration: none;
  color: rgba(255, 255, 255);
  transition: color 0.3s ease;
}

.nav-user a:first-child {
  margin-right: 10px;
}

.signup-btn {
  padding: 5px 15px;
  background-color: #6c63ff;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.signup-btn:hover {
  background-color: #8a85ff;
  box-shadow: 0px 0px 10px rgba(108, 99, 255, 0.7);
}
